Functional Requirements:

*1. Il sistema deve registrare l'accesso degli utenti tramite l'inserimento di credenziali univoche.
*2. Il sistema deve identificare la tipologia di utente Operator o Technician che accede al gruppo*, al fine di abilitare le specifiche funzionalità associate.
3. Il sistema deve generare un codice di accesso univoco necessario per l'adesione di nuovi membri a un gruppo specifico.
4. Il sistema deve inibire la prenotazione di un bene* al di fuori delle fascie orarie in cui risulta disponibile.
5. Il sistema deve limitare la prenotazione di un bene solo alla giornata corrente e quella successiva.
6. Il sistema deve fornire al Technician l'elenco dei beni che necessitano di riparazione, con i relativi report, ordinati in base alla loro priorità.
7. Il sistema deve notificare l'Admin dell'avvenuto ripristino di un bene da parte del Technician.
8. Il sistema deve bloccare immediatamente le prenotazioni su un bene segnalato guasto.
9. Il sistema deve notificare gli Operator che la loro prenotazione su un bene guasto è stata eliminata.
10. Il sistema deve inibire l'inserimento di un bene qualora il nome risulti già presente nel set di beni del gruppo in considerazione.
11. Il sistema deve inibire la creazione di un asset* qualora il nome risulti già presente nel set degli asset creati dall'Admin.
12. Il sistema deve aggiornare lo stato di un bene ogni ora coerentemente con il suo schedule di prenotazioni. 

Gruppo = insieme composto da un Admin, vari Operator e un Technician.
Asset = tipologia di ogetto messo a disposizione del gruppo, composto da:
  1. Nome
  2. Priorità*
  3. Report di riconsegna*
  4. Durata massima di utilizzo
Priorità = indice che discrimina l'importanza del bene in riparazione.
Report di riconsegna = Form creato dall'Admin con domande relative allo stato del bene.
Bene = istanza di un asset, possiede un nome ed eredita le specifiche dell'asset di appartenenza.
